<div class="page-content">
    <h5>المطاعم والكافيهات / الرئيسية</h5>

    <!-- guide line -->
    <div class="row guids mt-4">
        <div class="col-lg-3 col-sm-6">
            <div class="guide-line d-flex justify-content-between align-items-center">
                <p>مؤشرات</p>
                <p>50</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="guide-line d-flex justify-content-between align-items-center">
                <p>مؤشرات</p>
                <p>50</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="guide-line d-flex justify-content-between align-items-center">
                <p>تقارير</p>
                <p>70</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="guide-line d-flex justify-content-between align-items-center">
                <p>أرباح</p>
                <p>23456</p>
            </div>
        </div>
    </div>

    <!-- chart -->
    <div class="row mt-5 chart-block">
        <div class="col-lg-4">
            <div class="block-shadow p-3 mb-3">
                <h5>المصروفات</h5>
                <canvas id="doughnut-chart"></canvas>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="block-shadow p-3 mb-3">
                <h5>المبيعات</h5>
                <canvas id="bar-chart"></canvas>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="block-shadow p-3 mb-3">
                <h5>الواردات</h5>
                <canvas id="line-chart"></canvas>
            </div>
        </div>
    </div>
</div>