<header>
    <nav class="navbar fixed-top navbar-expand-md navbar-light" id="header">
        <div class="container">
            <a class="navbar-brand d-block d-md-none" href="#">
                <img src="../../../../assets/imgs/logo.png" alt="logo" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
                <div class="btns-icon">
                    <button type="button" class="btn btn-link">
            <i class="fas fa-globe-europe"></i>
          </button>
                    <button type="button" class="btn btn-link">
            <i class="fas fa-bell"></i>
          </button>
                </div>

                <div class="d-flex">
                    <div class="input-group search-form">
                        <div class="input-group-prepend">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="بحث" />
                    </div>

                    <select class="form-control">
            <option>الفرع الرئيسي</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
                </div>

                <div class="dropdown user-list">
                    <span class="user-img"><img src="../../../../assets/imgs/user.png" alt="user"
          /></span>
                    <button class="btn btn-link" type="button" id="userdropDown" data-toggle="dropdown" aria-expanded="false">
            إسم المستخدم <i class="fas fa-chevron-down mx-1"></i>
          </button>
                    <ul class="dropdown-menu" aria-labelledby="userdropDown">
                        <li><a class="dropdown-item" href="#">الإعدادات</a></li>
                        <li><a class="dropdown-item" href="#">الصفحة الشخصية</a></li>
                        <li><a class="dropdown-item" href="#">تسجيل خروج</a></li>
                    </ul>
                </div>
            </div>

            <a class="navbar-brand d-md-block d-none" href="#">
                <img src="../../../../assets/imgs/logo.png" alt="logo" />
            </a>
        </div>
    </nav>
</header>