<div class="sidebar">
  <ul class="list-group main-menu">
    <li
      class="list-group-item active-item"
      data-toggle="tooltip"
      title="الرئيسية"
    >
      <a href="#"><i class="fas fa-home"></i></a>
    </li>
    <li class="list-group-item" data-toggle="tooltip" title="إعدادات النظام">
      <a><i class="fas fa-cog"></i></a>

      <div class="sub-menu">
        <ul class="list-group">
          <li class="list-group-item list-header">إعدادات النظام</li>
          <li class="list-group-item">
            <a href="companies-data.html">بيانات الشركات</a>
          </li>
          <li class="list-group-item">
            <a href="branches-data.html">بيانات الفروع</a>
          </li>
          <li class="list-group-item">
            <a href="#">الموظفين<i class="fas fa-chevron-down"></i></a>
            <ul class="list-group sec-submenu">
              <li class="list-group-item">
                <a href="employees.html">ادارة الموظفين</a>
              </li>
              <li class="list-group-item">
                <a href="employees-roles.html">إدارة ادوار الموظفين</a>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            <a href="change-password.html">تغيير كلمة السر</a>
          </li>
          <li class="list-group-item">
            <a href="year-data-info.html">بيانات السنة المالية</a>
          </li>
          <li class="list-group-item">
            <a href="sms-data.html">بيانات اعدادات الرسايل النصية</a>
          </li>
          <li class="list-group-item">
            <a href="notification-data.html">اشعارات النظام</a>
          </li>
          <li class="list-group-item">
            <a href="transactions.html">المعاملات</a>
          </li>
          <li class="list-group-item">
            <a href="payment-method.html">اعدادت طرق الدفع</a>
          </li>
          <li class="list-group-item">
            <a href="vacations.html">العطلات الرسمية</a>
          </li>
          <li class="list-group-item">
            <a href="settings.html">شعار وألوان النظام</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="list-group-item" data-toggle="tooltip" title="العملاء والموردين">
      <a href="#"><i class="fas fa-user-friends"></i></a>

      <div class="sub-menu">
        <ul class="list-group">
          <li class="list-group-item list-header">العملاء والموردين</li>
          <li class="list-group-item">
            <a href="customers.html">العملاء</a>
          </li>
          <li class="list-group-item">
            <a href="suppliers.html">الموردين</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="list-group-item" data-toggle="tooltip" title="المخازن">
      <a href="#">
        <img
          src="../../../../assets/imgs/inventoryo-light.png"
          class="white-img"
          alt="stores"
        />
        <img
          src="../../../../assets/imgs/inventoryo.png"
          class="color-img d-none"
          alt="stores"
        />
      </a>

      <div class="sub-menu">
        <ul class="list-group">
          <li class="list-group-item list-header">المخازن</li>
          <li class="list-group-item">
            <a href="stores-cards.html">كرت الصنف</a>
          </li>
          <li class="list-group-item">
            <a href="stores-entry-receipt.html">سند إداخال</a>
          </li>
          <li class="list-group-item">
            <a href="stores-entry-voucher.html">سند إخراج</a>
          </li>
          <li class="list-group-item">
            <a href="stores-inventory-entry-voucher.html">سند ادخال الجرد</a>
          </li>
          <li class="list-group-item">
            <a href="stores-entry-receipt-bonds.html">سندات القبض</a>
          </li>
          <li class="list-group-item">
            <a href="stores-entry-receipt-payment-voucher.html">سندات الصرف</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="list-group-item" data-toggle="tooltip" title="المطاعم">
      <a href="#"><i class="fas fa-utensils"></i></a>

      <div class="sub-menu">
        <ul class="list-group">
          <li class="list-group-item list-header">المطاعم والكافيهات</li>
          <li class="list-group-item">
            <a href="#">الأقسام<i class="fas fa-chevron-down"></i></a>
            <ul class="list-group sec-submenu">
              <li class="list-group-item">
                <a href="restaurants-add-main-branch.html">إضافة قسم رئيسي</a>
              </li>
              <li class="list-group-item">
                <a href="restaurants-add-sub-branch.html">إضافة قسم فرعي</a>
              </li>
              <li class="list-group-item">
                <a href="restaurant-products.html">المنتجات</a>
              </li>
              <li class="list-group-item">
                <a href="restaurant-add-supplier.html">الواردات</a>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            <a href="restaurant-invoices.html">الفواتير</a>
          </li>
          <li class="list-group-item">
            <a href="restaurant-selling-point.html">نقطة البيع</a>
          </li>
          <li class="list-group-item openModal show">
            <a href="#">الاستعلام السريع</a>
          </li>
          <li class="list-group-item">
            <a href="#">التقارير<i class="fas fa-chevron-down"></i></a>
            <ul class="list-group sec-submenu">
              <li class="list-group-item">
                <a href=""></a>
              </li>
              <li class="list-group-item">
                <a href=""></a>
              </li>
              <li class="list-group-item">
                <a href=""></a>
              </li>
              <li class="list-group-item">
                <a href=""></a>
              </li>
              <li class="list-group-item">
                <a href=""></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li class="list-group-item">
      <a href="#"><i class="fas fa-hotel"></i></a>
    </li>
    <li class="list-group-item" data-toggle="tooltip" title="الصيدليات">
      <a href="#">
        <img
          src="../../../../assets/imgs/pharmacy2.png"
          class="white-img"
          alt="pharmacy"
        />
        <img
          src="../../../../assets/imgs/pharmacy.png"
          class="color-img d-none"
          alt="pharmacy"
        />
      </a>

      <div class="sub-menu">
        <ul class="list-group">
          <li class="list-group-item list-header">الصيدليات</li>
          <li class="list-group-item">
            <a href="#">الإعدادات العامة<i class="fas fa-chevron-down"></i></a>
            <ul class="list-group sec-submenu">
              <li class="list-group-item">
                <a href="pharmacy-drug-codes.html">أكواد الأدوية</a>
              </li>
              <li class="list-group-item">
                <a href="pharmacy-offers.html">العروض</a>
              </li>
              <li class="list-group-item">
                <a href="pharmacy-doses.html">الجرعات</a>
              </li>
              <li class="list-group-item">
                <a href="pharmacy-doses.html">الوحدات</a>
              </li>
              <li class="list-group-item">
                <a href="pharmacy-selling-point.html">نقطة البيع</a>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            <a href="#">المشتريات<i class="fas fa-chevron-down"></i></a>
            <ul class="list-group sec-submenu">
              <li class="list-group-item">
                <a href="pharmacy-purchase-orders.html">طلبات الشراء</a>
              </li>
              <li class="list-group-item">
                <a href="pharmacy-purchase-invoices.html">فواتير المشتريات</a>
              </li>
              <li class="list-group-item">
                <a href="pharmacy-purchase-returned.html">مرتجع مشتريات</a>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            <a href="#">المبيعات<i class="fas fa-chevron-down"></i></a>
            <ul class="list-group sec-submenu">
              <li class="list-group-item">
                <a href="pharmacy-sales-offers.html">عروض الاسعار</a>
              </li>
              <li class="list-group-item">
                <a href="pharmacy-sales-invoices.html">فواتير المبيعات</a>
              </li>
              <li class="list-group-item">
                <a href="pharmacy-sales-returned.html">مرتجع المبيعات</a>
              </li>
            </ul>
          </li>
          <li class="list-group-item openModal">
            <a href="#">الاستعلام السريع</a>
          </li>
          <li class="list-group-item">
            <a href="#">التقارير<i class="fas fa-chevron-down"></i></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="list-group-item">
      <a href="#"><i class="fas fa-clinic-medical"></i></a>
    </li>
    <li class="list-group-item">
      <a href="#"><i class="fas fa-car"></i></a>
    </li>
  </ul>
</div>
